@charset "utf-8";

body {
    font-family: arial;
}

caption {
    padding-bottom: 20px;
}

table {
    font-family: arial;
    border-collapse: collapse;
    margin: auto;
}

h1, footer {
    text-align: center;
}

th, tr {
    border: 2px solid black;
    padding: 4px;
    width: 80px;
}

th {
    background-color: gray;
    color: rgba(255, 255, 255, 0.684);
}

td {
    border: 1px solid black;
    text-align: center;
}

.left {
    text-align: left;
}

.cinza {
    background-color: gray;
    color: rgba(255, 255, 255, 0.684);
}

.white {
    background-color: white;
    color: black;
}