@charset "utf-8";

body {
    font-family: arial;
}

table {
    width: 600px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead {
    background-color: gray;
    color: white;
}

.num {
    text-align: right;
}